<script type="text/html" id="template">

    <tr data-id="id" data-template-bind='[{"attribute": "class", "value": "hasEnough","formatter":"Quantity"}]'>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.codigo"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "Sede.nombre"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.tipo"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.duracion"}]'>
        </td>
        <td class='text-center'><a data-template-bind='[{"attribute": "href", "value": "Materia.id","formatter":"AddPath","formatOptions":"modificar/"}]' class="fa fa-lg fa-pencil-square-o yellow"></a>
        </td>
    </tr>
</script>
