httpserver.log
httpserver.log.orig
httpserver.pid
parameters_*

# Archivos a ignorar en general
*.pyc
*.log
*.bak

# Carpetas de web2py
examples
logs
applications/examples

# Carpetas de SPE
applications/*/databases
applications/*/errors
applications/*/sessions
applications/*/languages
applications/*/.pythonhistory
applications/*/sessions

# Extras
applications/SPE/public
*.temp
applications/SPE/temp
*.idea
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
