{{extend 'layout.html'}}
{{block content}}

        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                   <div class="col-lg-12" >
                        <div class="rounded_border">
                            <center>
                                <div class="row">
                                    <div class="col-xs-2 col-xs-offset-9 retornar">
                                        <a href="/{{=request.application}}/{{=request.controller}}/listar" class="link_return">
                                            <h5>
                                                <i class="fa fa-undo fa-lg"></i>
                                                Planes de Trabajo
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3>Agregar Plan de Trabajo</h3>
                                    <hr WIDTH="20%">
                                    <p class="col-xs-2 col-xs-offset-9 campo-obligatorio" >Campo Obligatorio (*)</p>
                                </div>
                            </center>
                            <div class = "formulario">
                                {{=form}}
                            </div>
                       </div>
                    </div>
                </div>
            </div>

{{end}}