{{extend 'coordinacion_pasantia.html'}}
{{block content}}

<div class="container-fluid" id="planes_trabajoIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Planes de Trabajo</h3>
                        </div>
                    </div>
                    {{=LOAD('planes_trabajo', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
