{{('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<br>
<div class='content'>
  <div class="row">
    {{=form.custom.begin}}
       <div class="col-md-4">
	    <div class="panel-group" id="accordionOne">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne">
                                <b>Información de la Empresa</b> <i class="fa fa-check-square-o"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in panel-body" id="collapseOne">
                              <i class="fa fa-briefcase fa-pull-right"></i> <b>Nombre de la Empresa:</b>
                              <div>{{=form.custom.widget.first_name}}</div>
                              <i class="fa fa-briefcase fa-pull-right"></i> <b>Area Laboral:</b>
                              <div>{{=form.custom.widget.area_laboral}}</div>
                              <i class="fa fa-globe fa-pull-right"></i> <b>Pais:</b>
                              <div>{{=form.custom.widget.pais}}</div>
                              <i class="fa fa-map-o fa-pull-right"></i> <b>Estado:</b>
                              <div>{{=form.custom.widget.estado}}</div>
                              <i class="fa fa-map-marker fa-pull-right"></i> <b>Direccion:</b>
                              <div>{{=form.custom.widget.direccion}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
	    <div class="panel-group" id="accordionTwo">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo">
                                <b>Datos adicionales de la Empresa</b> <i class="fa fa-check-square-o"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in panel-body" id="collapseTwo">
                          <i class="fa fa-phone fa-pull-right"></i> <b>Teléfono:</b>
                          <div>{{=form.custom.widget.telefono}}</div>
                          <i class="fa fa-laptop fa-pull-right"></i> <b>Página web:</b>
                          <div>{{=form.custom.widget.direccion_web}}</div>
                          <i class="fa fa-users fa-pull-right"></i> <b>Contacto de Recursos Humanos de la Empresa:</b>
                          <div>{{=form.custom.widget.contacto_RRHH}}</div>
                          <i class="fa fa-book fa-pull-right"></i> <b>Descripción:</b>
                          <div>{{=form.custom.widget.descripcion}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
	    <div class="panel-group" id="accordionThree">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree">
                                <b>Información de inicio de sesión</b> <i class="fa fa-check-square-o"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in panel-body" id="collapseThree">
                          <i class="fa fa-envelope-o fa-pull-right"></i> <b>Correo de Login:</b>
                          <div>{{=form.custom.widget.email}}</div>
                          <i class="fa fa-unlock-alt fa-pull-right"></i> <b>Pregunta Secreta:</b>
                          <div>{{=form.custom.widget.pregunta_secreta}}</div>
                          <i class="fa fa-unlock-alt fa-pull-right"></i> <b>Respuesta a la pregunta secreta:</b>
                          <div>{{=form.custom.widget.respuesta_secreta}}</div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row center">
                    <br>
                        {{=A(T('Editar'), _class='btn btn-default',_href=URL  (c='Empresa',f='editar_Perfil_Empresa'))}}
                        {{=A(T('Cambiar Contraseña'), _class='btn btn-default',_href=URL  (c='default',f='cambiarClave'))}}
                    </br>
            </div>

        </div>
    {{=form.custom.end}}
    </div>
    <div class="row">
        <br>
    </div>
    <p><br></p>
</div>

{{pass}}
