<script type="text/html" id="template">

    <tr data-id="id" data-template-bind='[{"attribute": "class", "value": "hasEnough","formatter":"Quantity"}]'>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "auth_user.first_name"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "auth_user.last_name"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "auth_user.username"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "auth_user.email"}]'>
        </td>
        <td class='text-center' data-template-bind='[{"attribute": "content", "value": "auth_group.role"}]'>
        </td>
        <td class='text-center'><a data-template-bind='[{"attribute": "href", "value": "auth_membership.id","formatter":"AddPath","formatOptions":"modificar/"}]' class="fa fa-lg fa-pencil-square-o yellow"></a>
        </td>
    </tr>
</script>
