<ul style="margin-top: 20px; display: flex; flex-direction: column; font-family: 'DejaVu Sans' !important;" class="container">
    {{for route in routes:}}
    <li style="padding: 10px 10px; text-align: left;font-size: 16px; cursor: pointer; list-style-type: none" class="row">
        <a style="text-decoration: none;"href="{{=route['destino']}}">
	        <button class="col-lg-2">
	        	{{=route['first_name']}}
	        </button>
        </a>
    </li>
    {{pass}}
    <!-- {{=route}} -->
    {{=sidebar}}
    <br/><br/>
    {{for roles in sidebar:}}
        { {{=roles[0]}}:
        <br/>
        {{for contexto in roles[1]:}}
            {{=contexto[0]}} : {
            {{for accion in contexto[1]:}}
                {{=accion}},
            {{pass}}
            }
            <br/>
        {{pass}}
        }
    {{pass}}
</ul>
