<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
        {{for roles in sidebar:}}
	        <li "dropdown">
                <a href="#" class="dropdown-toggle rol" data-toggle="dropdown">{{=roles['rol']}} <span class="caret"></span></a>
	            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a>Accion 1</a></li>
                    <li><a>Accion 2</a></li>
                    <li><a>Accion 3</a></li>
                    <li><a>Accion 4</a></li>
                    <li><a>Accion 5</a></li>
                    <li><a>Accion 6</a></li>
	            </ul>
	        </li>
        {{pass}}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>