{{extend 'shell.html'}}

{{block head}}
  <link href="{{=URL('static', 'css/mis_pasantias.css')}}" rel="stylesheet" type="text/css" />
{{end}}



        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">
                        Mi Pasantía
                    </h1>
                    {{include 'mis_pasantias/pasantia_etapas.html'}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 panel panel-default">
                    <div class="panel-body">

                        <div id="descripcion-etapa">
                            <span style="font-size: 20px !important;">Descripcion:</span>
                            <p>
                                {{=etapa.descripcion}}
                            </p>

                            <span style="font-size: 20px !important;">Procedimientos:</span>
                            <p>
                                {{=etapa.procedimientos}}
                            </p>
                        </div>

                        <div id="comentarios-cct">
                            <span style="font-size: 20px !important;">Comentarios CCT:</span>
                                <p>
                                    {{if colocacion.comentarioCCT:}}
                                        {{=colocacion.comentarioCCT}}
                                    {{else:}}
                                        N/A
                                    {{pass}}
                                </p>
                        </div>
                        <div class="center">
                            <a href="#" class="clickable">
                                <button class="btn-index botonConsultaCCT" type="button">Consulta a CCT</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 panel panel-default containerEstatus">
                    <div class="panel-heading" id="panelgris">
                        Estatus
                    </div>
                    <div class="panel-body">
                        {{if colocacion.estado == "En Espera":}}
                        <p><i class="glyphicon glyphicon-time" id="waiticon"></i>   {{=colocacion.estado}}</p>
                        {{pass}}
                        {{if colocacion.estado == "Aprobado":}}
                        <!--<p><i class="glyphicon glyphicon-ban-circle" id="denyicon"></i>   {{=preinscripcion.estado}}</p>-->
                        <p><i class="glyphicon glyphicon-ok" id="checkicon"></i>   {{=colocacion.estado}}</p>
                        {{pass}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="center">

                    <div class="col-xs-12 col-md-4">
                        <a href="{{=URL('mi_perfil','editar_curriculo')}}" class="clickable">
                            <button class="btn-index botonEditarCV" type="button">Editar CV</button>
                        </a>

                    </div>

                    <div class="col-xs-12 col-md-4">
                        <a href="#" class="clickable">
                            <button class="btn-index botonVerOfertas" type="button" title='En construccion'>
                                Ver Ofertas Disponibles
                            </button>
                        </a>

                    </div>

                    <div class="col-xs-12 col-md-4">
                         <a href="#" class="clickable">
                            <button class="btn-index botonCartaPostulacion" type="button" title='En construccion'>
                                Carta de Postulación
                            </button>
                        </a>

                    </div>



                </div>
            </div>
        </div>

<script>

    //.botonConsultaCCT,.botonEditarCV,.botonVerOfertas,.botonSolicitarEvaluacionExtemporanea
    function sameHeightWidthButtons(){
        var maxHeight = 0;
        var maxWidth = 0;
        maxHeight = $(".botonConsultaCCT").height();
        maxWidth = $(".botonConsultaCCT").width();

        if ($(".botonEditarCV").height() > maxHeight) { maxHeight = $(".botonEditarCV").height(); }
        if ($(".botonVerOfertas").height() > maxHeight) { maxHeight = $(".botonVerOfertas").height(); }
        if ($(".botonCartaPostulacion").height() > maxHeight){maxHeight= $(".botonCartaPostulacion").height(); }
        
        if ($(".botonEditarCV").width() > maxWidth) { maxWidth = $(".botonEditarCV").width(); }
        if ($(".botonVerOfertas").width() > maxWidth) { maxWidth = $(".botonVerOfertas").width(); }
        if ($(".botonCartaPostulacion").width() > maxWidth) { maxWidth = $(".botonCartaPostulacion").width(); }
        
        $(".botonConsultaCCT").height(maxHeight);
        $(".botonConsultaCCT").width(maxWidth);
        $(".botonEditarCV").height(maxHeight);
        $(".botonEditarCV").width(maxWidth);
        $(".botonVerOfertas").height(maxHeight);
        $(".botonVerOfertas").width(maxWidth);
        $(".botonCartaPostulacion").height(maxHeight);
        $(".botonCartaPostulacion").width(maxWidth);

    }

    function resetHeightWidthButtons(){
        $(".botonConsultaCCT").height("auto");
        $(".botonEditarCV").height("auto");
        $(".botonVerOfertas").height("auto");
        $(".botonCartaPostulacion").height("auto");
        
        $(".botonConsultaCCT").width("auto");
        $(".botonEditarCV").width("auto");
        $(".botonVerOfertas").width("auto");
        $(".botonCartaPostulacion").width("auto");
    }

    resetHeightWidthButtons();
    sameHeightWidthButtons();

    $(window).resize(function() {
        resetHeightWidthButtons();
        sameHeightWidthButtons();
    });

</script>
