{{extend 'shell.html'}}
{{include 'mis_pasantias/pasantia_etapas.html'}}

<h1>Etapa actual de su pasantia: {{=etapa.nombre}}</h1>
<div style="font-size: 20px !important;">
    <p>
        <span>Descripcion:</span>
    {{=etapa.descripcion}}
    </p>
</div>

<div style="display: flex;font-size: 17px !important;">
    <div style="flex:5 1 auto; max-width:386px; padding-right:25px;">
        <a class="links" href="{{=etapa.procedimientos}}"  ><span class="fa fa-tasks"></span> Procedimientos</a>
        <br>
        <a class="links" href="#" ><span class="fa fa-question-circle"></span> Realizar consulta a la CCT</a>
        <br>
        <a class="links" href="#"  ><span class="fa fa-tasks"></span> Cronograma de actividades</a>
        <br>
        <a class="links" href="#"  ><span class="fa fa-check-square"></span> Resultados Evaluación Entidad de Trabajo  </a>

    </div>

    <div style="flex:5 1 auto; max-width:300px;">
        <a class="links" href="#"  ><span class="fa fa-file"></span> Acta Defensa (sin firmas) </a>
        <br>
        <a class="links" href="#"  ><span class="fa fa-file"></span> Acta Defensa (firmada </a>
        <br>
        <span class="fa fa-calendar"></span> Fecha de inicio: <span style="color:red;">{{=pasantia.fecha_inicio}}</span>
        <br>
        <span class="fa fa-calendar"></span> Fecha de culminacion: <span style="color:red;">{{=pasantia.fecha_fin}}</span>
        <br>
        <span class="fa fa-calendar"></span> Fecha tope para designar jurado: <span style="color:red;">{{=pasantia.fecha_tope_jurado}}</span>
        <br>
        <span class="fa fa-calendar"></span> Fecha de la defensa: <span style="color:red;">{{=pasantia.fecha_defensa}}</span>
        <br>

        <p>
            <span class="fa fa-comments"> </span> Comentarios CCT:
        {{if ejecucion:}}
        {{=ejecucion.comentarioCCT}}
        {{else:}}
            N/A
        {{pass}}
        </p>

    </div>
</div>

<br><br><br><br><br><br>
