<div class="timelinePasantias">

     <div class="flex-container">

    {{if pasantia.etapa.first_name == 'Preinscripcion' : }}
        <div id="one" class="timeline-item active"></div>
        <div class="timeline-item pending"></div>
        <div class="timeline-item pending"></div>
        <div class="timeline-item pending"></div>

    {{elif pasantia.etapa.first_name == 'Colocacion' : }}
        <div id="one" class="timeline-item done"></div>
        <div class="timeline-item active"></div>
        <div class="timeline-item pending"></div>
        <div class="timeline-item pending"></div>

    {{elif pasantia.etapa.first_name == 'Inscripcion' : }}
        <div id="one" class="timeline-item done"></div>
        <div class="timeline-item done"></div>
        <div class="timeline-item active"></div>
        <div class="timeline-item pending"></div>

    {{elif pasantia.etapa.first_name == 'Ejecucion' : }}
        <div id="one" class="timeline-item done"></div>
        <div class="timeline-item done"></div>
        <div class="timeline-item done"></div>
        <div class="timeline-item active"></div>

    {{else: }}
        <div id="one" class="timeline-item done"></div>
        <div class="timeline-item done"></div>
        <div class="timeline-item done"></div>
        <div class="timeline-item done"></div>
    {{pass}}


</div>





     <div class="flex-container">


        <div class="timeline-text-item">Preisncripción</div>
        <div class="timeline-text-item">Colocación</div>
        <div class="timeline-text-item">Inscripción</div>
        <div class="timeline-text-item">Ejecución</div>



</div>



</div>

