{{extend 'shell.html'}}
{{include 'mis_pasantias/pasantia_etapas.html'}}

<h2>Etapa actual de su pasantia: {{=etapa.nombre}}</h2>
<div style="font-size: 20px !important;">
    <p>
        <span>Descripcion:</span>
    {{=etapa.descripcion}}
    </p>
</div>

<div style="display: flex; font-size: 17px !important;">
    <div style="flex:5 1 auto; max-width:386px; padding-right:25px;">

        <a class="links" href="{{=etapa.procedimientos}} "><span class="fa fa-tasks"></span> Procedimientos </a>
        <br>
        <a class="links" href="#" ><span class="fa fa-question-circle"></span> Realizar consulta a la CCT</a>
        <br>
        <span class="fa fa-check-square"></span> Status del tramite: <span style="color:red;">{{=inscripcion.estado}}</span>


    </div>

    <div style="flex:5 1 auto; max-width:300px;">
        <a class="links" href="{{=URL(c='Pasantia',f='verDetallePasantia',args=[plan_trabajo.id])}}"><span class="fa fa-pencil-square"></span> Plan de trabajo</a>
        <br>
        <a class="links" href="#"><span class="fa fa-file"> </span> Formulario DACE</a>
        <br>
            <span class="fa fa-comments"> </span> Comentarios CCT:
        {{if inscripcion.comentarioCCT:}}
        {{=inscripcion.comentarioCCT}}
        {{else:}}
            N/A
        {{pass}}
        </p>
    </div>
</div>
<br><br><br><br><br><br>
