{{extend 'layout.html'}}
{{block content}}

<div class="container-fluid" id="mis_pasantias_index">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Mis Pasantias</h3>
                            <hr WIDTH="30%" />
                            <p>Listado de Pasantias</p>
                        </div>
                    </div>
                </center>
            </div>

            <br/>

            <div class="row">
                <div id="materias"></div>

            </div>
            <br />
        </div>
    </div>
</div>
{{end}}

{{include 'mis_pasantias/materias.html'}}
{{include 'mis_pasantias/pasantias.html'}}
<script src="{{=URL('static','js/contentHandler/mis_pasantias.js')}}"></script>
