{{extend 'shell.html'}}
{{block content}}

{{block head}}
  <link href="{{=URL('static', 'css/mis_pasantias.css')}}" rel="stylesheet" type="text/css" />
{{end}}

<style>
.centrar{
    text-align: center;
}
.derecha{
    text-align: right;
}
#panelazul{
    color: white;
    font-size: large;
    text-align: center;
    background-color: #6da8e1 !important; /*#3e3f3a*/ 
}
</style>


<div class="container-fluid" id="mis_pasantias_index">
    <div class="row">
        <div class="col-sm-12">
            <p class='title centrar'>PREINSCRIBE TU PASANTÍA </p>
        </div>
    </div>

    <div class="row">
        <div id="materias">
            {{ for materia in materias: }}
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default containerEstatus">
                        <div class="panel-heading " id="panelazul">
                            Pasantia {{ =materia.tipo }} ({{=materia.codigo }})
                        </div>
                        <div class="panel-body">
                            <div class='derecha'>
                                <a href="preinscribir/{{=materia.id}}">
                                    <button class="btn btn-default derecha">
                                        Preinscribir
                                    </button>
                                </a>
                            </div>
                            <br>
                            <p>
                                <b>Descripción</b>: <span class='text-center'> {{ =materia.descripcion }}</span>
                            </p>
                            <p>
                                <b>Duración</b>: <span class='text-center'>{{ =materia.duracion }} </span>
                            </p>
                            <p>
                                Información:
                            </p>
                            <a class="link-spe">Programa del curso</a>
                                <br>
                            <a class="link-spe" target="_blank" href="http://sistema.cenda.usb.ve/reglamentos/ver/237">Reglamentos</a>
                                <br>
                            <a class="link-spe" target="_blank" href="http://cct.dex.usb.ve/sites/default/files/Normas_y_Procedimientos_05_2011.pdf">Procedimientos</a>
                        </div>
                    </div>
                </div>
            {{pass}}
        </div>
    </div>
</div>


{{end}}
