<script type="text/html" id="tmplMaterias">

    <div data-id="id" data-template-bind='[{"attribute": "class", "value": "hasEnough","formatter":"Quantity"}]' style="background-color: #ddd; border: 1px solid #98978b; padding: 20px; color: black; margin-bottom: 10px;">

        <div style="display:flex; flex-direction: row; flex-wrap: wrap;">

            <div style="flex:5 1 auto; max-width:600px; padding-right:25px;">
                <h2>Pasantia
        <span class='text-center' data-template-bind='[{"attribute": "content", "value": "tipo"}]'>
        </span> (<span class='text-center' data-template-bind='[{"attribute": "content", "value": "codigo"}]'>
        </span>)</h2>
                <p>
                    <b>Descripcion</b>: <span class='text-center' data-template-bind='[{"attribute": "content", "value": "descripcion"}]'>
                    </span>
                </p>
                <p>
                    <b>Duracion</b>: <span class='text-center' data-template-bind='[{"attribute": "content", "value": "duracion"}]'>
                    </span> semanas continuas.
                </p>
                <a class="link-spe">Programa del curso</a>
                <br>
                <a class="link-spe" target="_blank" href="http://sistema.cenda.usb.ve/reglamentos/ver/237">Reglamento</a>
                <br>
                <a class="link-spe" target="_blank" href="http://cct.dex.usb.ve/sites/default/files/Normas_y_Procedimientos_05_2011.pdf">Procedimientos</a>
            </div>
            
            <div style="background-color: #bbb; border: none; padding: 20px; color: black; flex:5 1 auto; text-align: center;">
                <h2>Cursos</h2>
                <button class="btn btn-default">
                    <a style="color:white;" data-template-bind='[{"attribute": "href", "value": "id","formatter":"AddPath","formatOptions":"preinscribir/"}]'>Preinscribir</a>
                </button>
                <div data-template-bind='[{"attribute": "id", "value": "codigo"}]'>
                </div>
            </div>
        </div>
    </div>
    <br>
</script>
