<script type="text/html" id="tmplMaterias">

    <div data-id="id" data-template-bind='[{"attribute": "class", "value": "hasEnough","formatter":"Quantity"}]' style="background-color: #ddd; padding: 20px; color: black; margin-bottom: 10px;-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);">

        <div style="display:flex; flex-direction: row; flex-wrap: wrap;">

            <div class="col-lg-8" style="flex:5 1 auto; max-width:600px; padding-right:25px; text-align: justify;">
                <h2>Pasantia
        <span class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.tipo"}]'>
        </span> (<span class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.codigo"}]'>
        </span>)</h2>
                <p>
                    <b>Descripcion</b>: <span class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.descripcion"}]'>
                    </span>
                </p>
                <p>
                    <b>Duracion</b>: <span class='text-center' data-template-bind='[{"attribute": "content", "value": "Materia.duracion"}]'>
                    </span> semanas continuas.
                </p>
                <a class="link-spe">Programa del curso</a>
                <br>
                <a class="link-spe" target="_blank" href="http://sistema.cenda.usb.ve/reglamentos/ver/237">Reglamentosr</a>
                <br>
                <a class="link-spe" target="_blank" href="http://cct.dex.usb.ve/sites/default/files/Normas_y_Procedimientos_05_2011.pdf">Procedimientos</a>
            </div>
            
            <div class="col-lg-4" style="background-color: #bbb; border: none; padding: 20px; color: black; flex:5 1 auto; text-align: center;">
                <h2>Cursos</h2>
                <a style="color:white;" data-template-bind='[{"attribute": "href", "value": "Materia.id","formatter":"AddPath","formatOptions":"preinscribir/"}]'>
                    <button class="btn btn-default">
                        Preinscribir
                    </button>
                </a>
                <div data-template-bind='[{"attribute": "id", "value": "Materia.codigo"}]'>
                </div>
            </div>
        </div>
    </div>
    <br>
</script>
