<script type="text/html" id="tmplPasantias">

    <div data-id="id">
        <div class='text-center'>
	        <span data-template-bind='[{"attribute": "content", "value": "periodo.mes_inicio"}]'>
	        </span>
	        -
	        <span data-template-bind='[{"attribute": "content", "value": "periodo.mes_final"}]'>
	        </span>
	        <span data-template-bind='[{"attribute": "content", "value": "fecha_creacion"}]'>
	        </span>
        </div>

        <div class='text-center'><a data-template-bind='[{"attribute": "href", "value": "id","formatter":"AddPath","formatOptions":"ver/"}]'>VER</a>
        </div>
    </div>
</script>
