{{extend 'shell.html'}}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        Mi Pasantía
                    </h1>
                    {{include 'mis_pasantias/pasantia_etapas.html'}}
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="font-size: 20px !important;">
                            <p>
                                <span>Descripcion:</span>
                                {{=etapa.descripcion}}
                            </p>
                        </div>
                        <div style="flex:5 1 auto; max-width:300px;">
                            <p>
                                <span class="fa fa-comments"> </span> Comentarios CCT:
                                {{if preinscripcion.comentarioCCT:}}
                                {{=preinscripcion.comentarioCCT}}
                                {{else:}}
                                    N/A
                                {{pass}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Estatus</div>
                    <div class="panel-body">lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </div>
    </body>

</html>
