{{extend 'layout.html'}}
{{include 'mis_pasantias/pasantia_etapas.html'}}

<h1>{{=etapa.nombre}}</h1>

<div style="display: flex;">
	<div style="flex:5 1 auto; max-width:386px; padding-right:25px;">
		<p>
			<span>Descripcion:</span>
			{{=etapa.descripcion}}
		</p>
		<a href="{{=etapa.procedimientos}}">Procedimientos</a>
		<br>
		<a href="#">Realizar consulta a la CCT</a>
		<br>
		<a href="#">Solicitar permiso – Eliminar Pasantía</a>
		<br>
		<a href="#">Solicitar permiso – Evaluación Extemporánea</a>
	</div>

	<div style="flex:5 1 auto; max-width:300px;">
		<div style="display:flex; flex-align:row">
			<p>Ver formulario de preinscripcion</p> 
			<div style="padding-left:15px; width:30px; height:30px; position:relative;" >
				<img style="position: absolute; width:100%;" src="../../static/images/search.png">
			</div>			

		</div>
		Status del tramite: <span style="color:red;">{{=pasantia.status}}</span>
		<p>
			<span>Comentarios CCT:</span>
			bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
		</p>
	</div>

</div>

<br><br><br><br><br><br>