{{extend 'shell.html'}}
{{block content}}
<div class="container-fluid" id="usuariosIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Usuarios</h3>
                            <hr WIDTH="30%" />
                            <p>Listado de Usuarios</p>
                        </div>
                    </div>
                    {{=LOAD('usuarios', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
