{{extend 'coordinacion_pasantia.html'}}
{{block content}}

<div class="container-fluid" id="ejecucionesIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Ejecuciones</h3>
                        </div>
                    </div>
                    {{=LOAD('ejecuciones', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
{{include 'ejecuciones/contenido.html'}}
<script src="{{=URL('static','js/contentHandler/ejecuciones.js')}}"></script>
