{{extend 'layout.html'}}

<div class='content'>
    <p class='title'>Permiso - {{=formPermiso.custom.widget.Tipo}}</p>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-group" id="accordionpermiso">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionpermiso" href="#permiso">
                                <i class="fa fa-check-square-o fa-pull-right"></i>
                                <b>Detalle Del Permiso</b>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in" id="permiso">
                        <div class="list-group">
                            <p class="list-group-item"><b>{{=formPermiso.custom.label.pasantia}}</b> : {{=formPermiso.custom.widget.pasantia}} </p>
                            <p class="list-group-item"><b>{{=formPermiso.custom.label.aprobacion_coordinacion}}</b> : {{=formPermiso.custom.widget.aprobacion_coordinacion}} </p>
                            <p class="list-group-item"><b>{{=formPermiso.custom.label.aprobacion_tutor_academico}}</b> : {{=formPermiso.custom.widget.aprobacion_tutor_academico}} </p>
                            <p class="list-group-item"><b>{{=formPermiso.custom.label.estado}}</b> : {{=formPermiso.custom.widget.estado}} </p>
                            <p class="list-group-item"><b>{{=formPermiso.custom.label.justificacion}}</b> : {{=formPermiso.custom.widget.justificacion}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row center">
                <br>
                {{if (auth.has_membership(role='Estudiante')):}}
                    {{=A(T('Descargar Planilla'), _class='btn btn-default',_href=URL  (c='Pdf',f='generarPdfPermiso',args=[permiso.id]))}}
                    {{=A(T('Volver a Mis Permisos'), _class='btn btn-default',_href=URL  (c='Permiso',f='consultarPermisos'))}}
                {{pass}}
                {{if ((auth.has_membership(role='Profesor')) or (auth.has_membership(role='Coordinador')) or (auth.has_membership(role='CoordinadorCCT')) or (auth.has_membership(role='Administrativo'))):}}
                    {{=A(T('Aprobar'), _class='btn btn-default',_href=URL  (c='Permiso',f='aprobarPermiso',args=[permiso.id]))}}
                    {{=A(T('Volver a Mis Permisos'), _class='btn btn-default',_href=URL  (c='Permiso',f='consultarPermisos'))}}
                    {{=A(T('Imprimir Planilla'), _class='btn btn-default',_href=URL  (c='Permiso',f='consultarPermisos'))}}
                    {{pass}}
                </br>
            </div>
        </div>
    </div>
    <div class="row">
        <br><br><br><br><br><br>
    </div>

</div>