{{extend 'configuracion.html'}}
{{block content}}

<div id="perfil_estudiante">
	<section id="sec1">
		<div class="container"> 
			<div class="row">
				<div class="row">
						<h5><b>Foto de Perfil</b></h5><br>
				</div>
                <div class="row" id="foto-perfil">
				</div>

				<div class="row">
						<h5><b>Foto de Perfil</b></h5><br>
						<button class="boton-negro">SUBIR FOTO</button>
						<p class="parrafos">Una vez completado todos sus datos finalice su inscripcion.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="sec2">
		<div class="container"> 
			<div class="row">
				<div class="col-lg-8 cols">
						<h4>Informacion</h4>
						{{=form}}
						<br>
						{{include}}
				</div>
			</div>
		</div>
	</section>
</div>

{{end}}
