{{extend 'shell.html'}}
{{block content}}
	
	<center><h2>MI PERFIL</h2></center>

	<div id="perfil_estudiante">
    	<section id="sec1" style="margin-bottom: 10%">
    		<br>
            <div class="row">
            		<div class="col-sm-12">
	            		<div class="col-sm-5" style="text-align: center;">
	            			<div id="foto-perfil" style="text-align: center;">
                        		<h5 style="margin-bottom: 80%"><b>Foto del Perfil</b></h5>
                        		<button class="boton-negro">SUBIR FOTO</button>
                        	</div>
                        </div>
                   
	            		<div class="col-sm-6" style="text-align: left; margin-top: 07%;">
	            			<h4><p><b>{{=usuario['first_name']}} {{=usuario['last_name']}}</b></p></h4>
                            <h4><p>USBID: {{=usuario.username}}</p></h4>
                            <h4><p>{{=usuario.tipo_documento}} - {{=usuario.numero_documento}} </p></h4>
                            <h4><p>{{=usuario.email }}</p></h4>
                            <h4><p>{{=usuario.sexo }}</p></h4>
                            <h4><p>{{=usuario.telefono }}</p></h4>
                            <h4><p>{{=usuario.direccion }}</p></h4>
	            		</div>
	            	</div>

            </div>
    	</section>
    </div>
    {{if globals().get('estudiante', False):}}
    	{{include 'mi_perfil/ver_estudiante.html'}}
    {{pass}}
    {{if globals().get('profesor', False):}}
    	{{include 'mi_perfil/ver_profesor.html'}}
    {{pass}}
    {{if globals().get('coordinador', False):}}
    	{{include 'mi_perfil/ver_coordinador.html'}}
    {{pass}}
    {{if globals().get('administrativo', False):}}
    	{{include 'mi_perfil/ver_administrativo.html'}}
    {{pass}}

{{end}}