{{extend 'shell.html'}}
{{block content}}
	<div id="perfil_estudiante">
    	<section id="sec1" style="margin-bottom: 10%">
    		<br>
            <div class="row">
            		<div class="col-sm-12">
	            		<div class="col-sm-5" style="text-align: center;">
                            {{if usuario.image and usuario.image!="":}}
                                <img style="max-width: 100%; max-height: 250px;" src="{{=URL('mi_perfil', 'download',
                                args=usuario.image)}}" />
                            {{else:}}
                                <img style="max-width: 100%; max-height: 250px;" src="/static/images/profile.png" />
                            {{pass}}
                        </div>

	            		<div class="col-sm-6" style="text-align: left; margin-top: 02%;">
                            <h4><p><b>{{=usuario['first_name']}} {{=usuario['last_name']}}</b></p></h4>
                            <h4><p>USBID: {{=usuario.username}}</p></h4>
                            <h4><p>{{=tipo_documento.first_name}}: {{=usuario.numero_documento}} </p></h4>
                            <h4><p>{{=usuario.email }}</p></h4>
                            {{if usuario.sexo == 'M':}}
                                <h4><p>Masculino<p></h4>
                            {{elif usuario.sexo == 'F':}}
                                <h4><p>Femenino<p></h4>
                            {{pass}}
                            <h4><p>{{=usuario.telefono }}</p></h4>
                            <h4><p>{{=usuario.direccion }}</p></h4>
	            		</div>
	            	</div>
            </div>
    	</section>
    </div>

    {{if globals().get('estudiante', False):}}
        <div class="{{=clase}}">
           {{include 'mi_perfil/ver_estudiante.html'}}
        </div>
    {{pass}}
    {{if globals().get('profesor', False):}}
        <div class="{{=clase}}">
           {{include 'mi_perfil/ver_profesor.html'}}
        </div>
    {{pass}}
    {{if globals().get('administrativo', False):}}
        <div class="{{=clase}}">
           {{include 'mi_perfil/ver_administrativo.html'}}
        </div>
    {{pass}}
    {{if globals().get('coordinador', False):}}
        <div class="{{=clase}}">
           {{include 'mi_perfil/ver_coordinador.html'}}
        </div>
    {{pass}}
    {{if globals().get('curriculo', False):}}
    <div class="col-sm-9">
       {{include 'mi_perfil/ver_curriculo.html'}}
    </div>
    {{pass}}
{{end}}