{{extend 'mi_perfil/ver.html'}}
{{block content}}

<h2>Hola {{=usuario['apellido']}}, {{=usuario['nombre']}}.</h2>
<h4>{{=usuario['rol']}}</h4>
<div id="perfil_estudiante">
	<section id="sec1">
		<div class="container"> 
			<div class="row">
				<div class="row">
						<h5><b>Foto de Perfil</b></h5><br>
				</div>
                <div class="row" id="foto-perfil">
				</div>

				<div class="row">
				</div>
			</div>
		</div>
	</section>
</div>

<div>
       <h2>
           Carrera
       </h2>
       <div>
           <h4>{{=estudiante.Carrera.nombre}}</h4>
       </div>
</div>

<div>
       <h2>
           Sede
       </h2>
       <div>
           <h4>{{=sede.Sede.nombre}}</h4>
       </div>
</div>
<div>
       <h2>
           Correo
       </h2>
       <div>
           <h4>{{=estudiante.UsuarioUSB.correo}}</h4>
       </div>
</div>

<div>
   {{if curriculo:}}
       <h2>
           Curriculo
       </h2>
       <div>
           <h3>Idiomas: </h3>
           <h4>{{=curriculo.idiomas}}</h4>
           <h3>Electivas: </h4>
           <h4>{{=curriculo.electivas}}</h4>
           <h3>Cursos: </h4>
           <h4>{{=curriculo.cursos}}</h4>
           <h3>Aficiones: </h3>
           <h4>{{=curriculo.aficiones}}</h4>
       </div>
   {{pass}}
</div>

{{end}}