<div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 15px"> Datos de Administrativo</h1>
    </div>
    <div class="panel-body">
        <section id="sec1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <center>
                            <h4> <b>Coordinación</b> </h4>
                            <div>
                                 <h5>{{=coordinacion.Coordinacion.first_name}}</h5>
                            </div>

                            <br>

                            <h4> <b>Dirección</b> </h4>
                            <div>
                                 <h5>{{=currentUser.direccion}}</h5>
                            </div>
                        </center>
                    </div>

                    <div class="col-sm-4">
                        <center>
                            <h4> <b>Teléfono</b> </h4>
                            <div>
                                 <h5>{{=currentUser.telefono}}</h5>
                            </div>

                            <br>

                            <h4> <b>Sexo</b> </h4>
                            <div>
                                {{if currentUser.sexo == 'M':}}
                                    <h5>Masculino</h5>
                                {{elif currentUser.sexo == 'F':}}
                                    <h5>Femenino</h5>
                                {{pass}}
                            </div>
                            
                        </center>
                    </div>

                    <div class="col-sm-4">
                        <center>
                            <h4> <b>Correo</b> </h4>
                            <div>
                                <h5>{{=administrativo.auth_user.email}}</h5>
                            </div>

                            <br>

                            <h4> <b>Correo Alternativo</b> </h4>
                            <div>
                                <h5>{{=administrativo.Administrativo.correo_Alternativo}}</h5>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>