<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title pull-left" style="font-size: 15px">Estudiante</h1>
        <a href="{{=URL('configuracion', args=['estudiante'])}}" class="clickable">
            <span class="pull-right icon boton_posicion"><i class="glyphicon glyphicon-edit"></i></span>
        </a>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <section id="sec1">
            <div class="row">
                <div class="col-sm-12">
                    {{if cont == 12 or cont == 6 :}}
                        <div class="col-sm-6">
                            <center>
                                <h4> <b>Carrera</b> </h4>
                                {{if carrera:}}
                                    <h5>{{=carrera.first_name}}</h5>
                                {{else:}}
                                    <h5>N/A</h5>
                                {{pass}}
                            </center>
                        </div>

                        <div class="col-sm-6">
                            <center>
                            <h4> <b>Sede</b> </h4>
                                <div>
                                    {{if sede_estudiante.first_name :}}
                                        <h5>{{=sede_estudiante.first_name}}</h5>
                                    {{else:}}
                                        <h5>N/A</h5>
                                    {{pass}}
                                </div>
                            </center>
                        </div>
                    {{pass}}
                    {{if cont == 4 :}}
                        <center>
                            <h4> <b>Carrera</b> </h4>
                            {{if carrera:}}
                                <h5>{{=carrera.first_name}}</h5>
                            {{else:}}
                                <h5>N/A</h5>
                            {{pass}}

                            <br>

                            <h4> <b>Sede</b> </h4>
                            <div>
                                {{if sede_estudiante.first_name :}}
                                    <h5>{{=sede_estudiante.first_name}}</h5>
                                {{else:}}
                                    <h5>N/A</h5>
                                {{pass}}
                            </div>
                        </center>
                    {{pass}}

            </div>
        </section>
        {{if curriculo:}}
            <hr>
            <section id="sec1">

                <div class="row">
                    <center> <h3> <b> Curriculo </b> </h3> </center>
                    <div class="col-sm-4">
                            <h4> <b> Idiomas: </b> </h4>
                            <ul>
                                {{for item in curriculo.idiomas:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Electivas: </b> </h4>
                            <ul>
                                {{for item in curriculo.electivas:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>

                    <div class="col-sm-4">
                            <h4> <b> Cursos: </b> </h4>
                            <ul>
                                {{for item in curriculo.cursos:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Aficiones: </b> </h4>
                            <ul>
                                {{for item in curriculo.aficiones:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Voluntariados: </b> </h4>
                            <ul>
                                {{for item in curriculo.voluntariados:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Educacion: </b> </h4>
                            <ul>
                                {{for item in curriculo.educacion:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Experiencias: </b> </h4>
                            <ul>
                                {{for item in curriculo.experiencias:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                    <div class="col-sm-4">
                            <h4> <b> Proyectos: </b> </h4>
                            <ul>
                                {{for item in curriculo.proyectos:}}
                                    <div>
                                        <li><h5>{{=item}}</h5></li>
                                    </div>
                                {{pass}}
                            </ul>
                    </div>
                </div>
            </section>
        {{pass}}
    </div>
</div>