<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title pull-left" style="font-size: 15px">Coordinador</h1>
        <a href="{{=URL('configuracion', args=['coordinador'])}}" class="clickable">
            <span class="pull-right icon boton_posicion"><i class="glyphicon glyphicon-edit"></i></span>
        </a>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <section id="sec1">
            <div class="row">
                <div class="col-sm-12">
                        <center>
                            <h4> <b>Coordinación</b> </h4>
                            <div>
                                 <h5>{{=coordinacion.codigo}} - {{=coordinacion.nombre}} - {{=sede_coordinacion.first_name}}</h5>
                            </div>
                        </center>
                        <center>
                            <h4> <b>Coordinación</b> </h4>
                            <div>
                                <h5>{{=coordinador.carnet}}</h5>
                            </div>
                        </center>
                            <br>
                        <center>
                            <h4> <b>Correo Alternativo</b> </h4>
                            <div>
                                <h5>{{=coordinador.correo_Alternativo}}</h5>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>