{{extend 'mi_perfil/ver.html'}}
{{block content}}

<h2>Hola {{=usuario['last_name']}}, {{=usuario['first_name']}}.</h2>
<h4>{{=usuario['rol']}}</h4>
<div id="perfil_estudiante">
	<section id="sec1">
		<div class="container"> 
			<div class="row">
				<div class="col-lg-6" id="foto-perfil">
				</div>

				<div class="col-lg-6">
						<h5><b>Foto de Perfil</b></h5><br>
						<button class="boton-negro">SUBIR FOTO</button>
						<p class="parrafos">Una vez completado todos sus datos finalice su inscripcion.</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div>
       <h2>
           <b>Departamento</b>
       </h2>
       
       <div>
           {{if departamento:}}
				<h3>{{=departamento.first_name}}</h3>
			{{else:}}
				<h3>N/A</h3>
			{{pass}}
       </div>
</div>

<div>
       <h2>
           <b>Categoría</b>
       </h2>
       <div>
			{{if categoria:}}
				<h3>{{=categoria.first_name}}</h3>
			{{else:}}
				<h3>N/A</h3>
			{{pass}}
       </div>
</div>
<div>
       <h2>
           <b>Dedicación</b>
       </h2>
       
       <div>
          {{if dedicacion:}}
				<h3>{{=dedicacion.first_name}}</h3>
			{{else:}}
				<h3>N/A</h3>
			{{pass}}
       </div>
</div>

<div>
       <h2>
           <b>Sede</b>
       </h2>
       <div>   
          {{if sede:}}
				<h3>{{=sede.first_name}}</h3>
			{{else:}}
				<h3>N/A</h3>
			{{pass}}
       </div>
</div>

<div>
       <h2>
           <b>Correo</b>
       </h2>
       <div>   
          {{if profesor.auth_user.email:}}
				<h3>{{=profesor.auth_user.email}}</h3>
			{{else:}}
				<h3>N/A</h3>
			{{pass}}
       </div>
</div>

{{end}}
