{{extend 'catalogos.html'}}
{{block content}}

<div class="container-fluid" id="periodosIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Periodos</h3>
                            <hr WIDTH="30%" />
                            <p>Listado de Periodos</p>
                        </div>
                    </div>
                    {{=LOAD('periodos', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
