{{extend 'shell.html'}}
{{block content}}

<div class="container-fluid" id="dedicacionesIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Dedicaciones</h3>
                        </div>
                    </div>
                </center>
                {{=LOAD('dedicaciones', 'sqlform_grid', ajax=True)}}
            </div>
        </div>
    </div>
</div>
{{end}}
