{{extend 'shell.html'}}
{{block content}}

<div class="container-fluid" id="coordinadoresIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Coordinadores</h3>
                        </div>
                    </div>
                    {{=LOAD('coordinadores', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
{{include 'coordinadores/contenido.html'}}
<script src="{{=URL('static','js/contentHandler/coordinadores.js')}}"></script>
