{{extend 'shell.html'}}
{{block content}}

<div class="container-fluid" id="permisosIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Permisos</h3>
                        </div>
                    </div>
                    {{=LOAD('permisos', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
