{{extend 'shell.html'}}
{{block content}}

        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <h3>
                        Deseas enviar tu plan de trabajo?
                    </h3>
                    <h4>Recuerda, una vez enviado no puedes modificarlo.</h4>
                    <a href="/SPE/mis_planes/enviar/{{=record.id}}">
                        <button >Enviar</button>
                    </a>
                </div>
                <div class="row">
                   <div class="col-lg-12" >
                        <div class="rounded_border">
                            <center>
                                <div class="row">
                                    <hr WIDTH="20%">
                                    <p class="col-xs-2 col-xs-offset-9 campo-obligatorio" >Campo Obligatorio (*)</p>
                                </div>
                            </center>
                            <div class = "formulario ">
                                {{=form}}
                            </div>
                       </div>
                    </div>
                </div>
            </div>

{{end}}
