{{extend 'shell.html'}}
{{block content}}

<div class="container-fluid" id="rolesIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Roles</h3>
                        </div>
                    </div>
                    {{=LOAD('roles', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
