.link-spe{
    text-decoration: none;
    color: #0000C0;
    cursor: pointer;
}

.link-spe:hover{
    text-decoration: none;
    color: #00007c;
    cursor: pointer;
}

/*FOOTER*/
.footer{
    margin-top: 20px;
    background: #666666;
    color:  white;
}

.main-container{
    background: #ececec !important;
    margin-top: 0;
}

.header_home{
    padding-top: 0;

}

/*BOTONES*/

.btn-index{
    background: #3e3f3a;
    padding: 10px;
    border: none;
    color: #d5d5d5;
    min-width: 110px;
}

.btn-index:hover{
    background: #2d2e29;
}

.btn-sidebar{
    background: #3e3f3a;
    padding: 10px;
    border: none;
    color: #d5d5d5;
    min-width: 130px;
}

.btn-sidebar:hover{
    background: #2d2e29;
}

.link-btn{
    text-decoration: none;
}

.links:hover{
    color: #79a736 !important;
}

.links{
    text-decoration: none !important;
    color: #3e3f3a;
    cursor: pointer;
}

/*Home*/

.title{
    text-transform: uppercase;
}

.tituloCCT, .tituloEstudiante, .tituloProfesor, .tituloEmpresa{
    color: white;
    font-size: 1.5em;
    text-align: center;

}

.tituloCCT, .tituloEstudiante, .tituloProfesor, .tituloEmpresa{
    font-size: 17px !important;
}

.containerCCT, .containerEstudiante, .containerProfesor, .containerEmpresa{
    padding: 0;
    margin-bottom: 10px;
    background: white;

}

.containerCCT{
    border: 2px solid #ebccd1;
}

.containerEstudiante{
    border: 2px solid #bce8f1;
}

.containerProfesor{
    border: 2px solid #d6e9c6;
}

.containerEmpresa{
    border: 2px solid #edd797;
}

.contenidoColumnas{
    padding: 10px;
}

body{
    background: #ececec;
    padding-top: 0px;
}
.navbar-style, #navbar a, .footer {
    background: #666666 !important;
    color: white !important;
}
.transparent {
    background: rgba(240, 237, 237, 0.63);
    height: 100%;
    width: 100%;
}
.titlesHeader{
    text-align: center;
    color: white;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.imageHome{
    width: 100%;
    margin-bottom: 15px;
    height: 250px;
}
.rowButtonHome{

}
.carousel-inner > .item > div,
  .carousel-inner > .item > a > div {
      width: 70%;
      margin: auto;
  }
.carousel-control.right, .carousel-control.left{
	background: transparent;
}

.carousel-indicators li{
	border: 2px solid #666666;
}

.carousel-indicators .active {
	background: #666666;
}

.carousel-control span {
	color: #666666;
}
/*Tables*/

.web2py_grid th a , .web2py_table th a {

    color: white;
    cursor: pointer;
    text-decoration: none;
}



.web2py_grid td a , .web2py_table td a {

    color: #666666;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;

}



.web2py_grid td a span, .web2py_table td a span {

    color: white;

}