.link-spe{
    text-decoration: none;
    color: #0000C0;
    cursor: pointer;
}

.link-spe:hover{
    text-decoration: none;
    color: #00007c;
    cursor: pointer;
}

/*FOOTER*/
.footer{
    margin-top: 20px;
}

/*BOTONES*/

.btn-index{
    background: #3e3f3a;
    padding: 10px;
    border: none;
    color: #d5d5d5;
    min-width: 110px;
}

.btn-index:hover{
    background: #2d2e29;

}

.link-btn{
    text-decoration: none;
}