body{
	overflow-x: hidden;
}

.transparent {
    background: #ececec  !important;
}

.header_home {
    position: fixed;
    height: 101px !important;
    margin-top: 0px;
    z-index: 1030;
    background:none;
}


.banner-fixed-top {
    top: 0 !important;
    border-width: 0 0 1px !important;
    position: fixed !important;
}

.navbar-fixed-top {
    top: 87px !important;
    border-width: 0 0 1px !important;
    position: fixed !important;
}

.navbar-default, .navbar-style {
    max-height:50px !important;

    position: relative;

    padding: 5px 12px !important;
    padding-top: 10px !important;
	background-color: #e3e3e3 !important;
}


.navbar-collapse.collapse.in, .navbar-toggle.open,
.navbar-toggle:hover, .navbar-toggle:focus {
    border-color: rgba(63, 93, 93, 0.50);
    background-color: rgba(63, 93, 93, 0.50) !important;
    overflow-y: visible;
}

.navbar-nav>li>a {  
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 40px !important;
}

ul {
	font-size: 13px !important;
}

#navbar a:hover {
    background: #d7d7d7 !important;
    color: #666666  !important;
}

ul.dropdown-menu.dropdown-menu-style {
    background-color: #666666;
}

li a {
	color: #1a1a1a !important;
	position: relative;

}


li.dropdown.open{
	position: relative;
}

.dropdown-menu-style li {
	position: relative;
	background-color: #D7D7D7;
}

a.dropdown-focus {
	background-color: #D7D7D7;
}

ul.nav.navbar-nav.navbar-right .navbar-nav>li>.dropdown-menu {
	background-color: #D7D7D7;
}
.navbar-default .navbar-nav>li:hover {
    background-color: #D7D7D7;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
	background-color: #D7D7D7;
}

@media screen and (min-width: 768px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

.dropdown-menu>li>a:hover {
	background-color: #c4c4c4;
}

.navbar-header {
    height: 40px;
}
.navbar-toggle > .icon-bar{
    background-color: #ffffff !important;
}



/*------------------------PRUEBA--------------------*/

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 270px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#main {
    width: 100%;
    padding-top: 0px;
}

#wrapper.toggled #main {
    position: absolute;
    margin-right: -220px;
}

/*------------------------ICONO DEL MENU ------------------------*/
.navbar-ico {

    font-size: x-large;
    padding: 4px 12px 4px 12px;
}

.navbar-ico:hover,
.navbar-ico:active {
    background-color: #000000;

}
