#img-logo-usb{
	max-width: 200px;
}

#logo-usb{
	text-align: center;
}

#titulo {
	text-align: left;
}

#bannerprincipal{
	background: url("../images/header-usb.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

}

#foto-perfil{
	background: url("../images/profile.png");
}

#perfil {
	text-align: right;
}

#footer, #barra{
	background: rgba(63,93,93,0.50);
	color: #ffffff;
}

#footer{
	padding: 10px;
}

#sec2{
	padding: 10%;
	padding-top: 2% !important;
}

.bio {
	text-align: left; 
	margin-top: 08%;"
}

.boton-negro{
	background: #2B2B2B;
	color: #DDD;
	border: none;
	width: 200px;
	margin-right: 25px;
	margin-top: -25px;
}

.cols{
	padding: 5%;
}

.inputs{
	width: 300px;
	background:#ffffff;
}

.radios{
	background-color:#ffffff !important;
}

.parrafos{
	color: #9D9D9D;
	font-size: 12px;
}

.clickable
{
    cursor: pointer;
}

.clickable .icon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
}

a.clickable { color: inherit; }

.boton_posicion {
  margin-top: -06px;
  margin-bottom: -06px;
  margin-right: -10px;
  border-radius: 05px; 
}

.button_position_cv {
	margin-left: 40px; 
	margin-top: -06px;
	margin-bottom: -06px;
	margin-right: -10px;
	border-radius: 05px;
}


.boton_posicion:hover:after {
	content: ' Editar';
}

.button_position_cv:hover:after {
	content: ' Ver Curriculum';
}

.button_position_cv:hover {
	background: rgba(0, 0, 0, 0.40);
	margin-left: -60px; 
	width: 140px; 
	border-radius:5px; 
}

.boton_posicion:hover {
	background: rgba(0, 0, 0, 0.40);
	width: 80px; 
	border-radius:5px; 
}

@media screen and (max-width: 800px) {

	#perfil, .bio { text-align: center; }

	.boton-negro {
		margin-right: 0px;
	}

}

@media screen and (max-device-width : 480px) {


}
