{{extend 'layout.html'}}

<div class='content'>
    <p class='title'>Plan De Trabajo de la pasantia '{{=pasantia.titulo}}' </p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordionplanTrabajo">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionplanTrabajo" href="#planTrabajo">
                                <i class="fa fa-check-square-o fa-pull-right"></i>
                                <b>Datos Del Plan De Trabajo</b>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in" id="planTrabajo">
                        <div class="list-group">
                            <p class="list-group-item"><b>Aprobacion Del Tutor Académico</b> : {{=planTrabajo.aprobacion_tutor_academico}}</p>
                            <p class="list-group-item"><b>Aprobacion Del Tutor Industrial</b> : {{=planTrabajo.aprobacion_tutor_industrial}}</p>
                            <p class="list-group-item"><b>Aprobacion Del Coordinador De Carrera</b> : {{=planTrabajo.aprobacion_coordinacion}}</p>
                            <p class="list-group-item"><b>Estado</b> : {{=planTrabajo.estado}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ for fase in fases: }}
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordionfase_{{=fase.numero}}">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionfase_{{=fase.numero}}" href="#fase_{{=fase.numero}}">
                                    <i class="fa fa-check-square-o fa-pull-right"></i>
                                    <b>Fase {{=fase.numero}}</b>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse in" id="fase_{{=fase.numero}}">
                            <div class="list-group">
                                <p class="list-group-item"><b>Descripcion</b> : {{=fase.descripcion}}</p>
                            </div>
                            <div>
                                {{ for actividad in fase.Actividad.select(): }}
                                    <div id="act_{{=actividad.numero}}">
                                        <div class="list-group-item"><b>Actividad</b> : {{=actividad.numero}}</div>
                                        <div class="list-group-item">
                                            <div><b>Descripcion</b> : {{=actividad.descripcion}}</div>
                                            <div><b>Semana De Inicio</b> : {{=actividad.semana_inicio}}</div>
                                            <div><b>Semana De Finalizacion</b> : {{=actividad.semana_fin}}</div>
                                        </div>
                                    </div>
                                {{ pass }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ pass }}
    {{ if planTrabajo.aprobacion_coordinacion!='Aprobado': }}
        <div class="row-md-12 center">
            {{ if planTrabajo.estado=='Enviado': }}
                <a href="{{=URL(a='SPE', c='Pasantia',f= 'AprobarPlanTrabajoCoordinador', args=[planTrabajo.id])}}">
                    <button class='success'>Aprobar Plan De Trabajo</button>
                </a>
            {{ pass }}
            <a href="{{=URL(c='Pasantia', f='verDetallePasantia',args=[planTrabajo.id])}}">
                <button class='success'>Retornar</button>
            </a>
            <br><br>
        </div>
    {{ pass }}
    <div class="row">
        <br><br><br>
    </div>

</div>

