{{extend 'coordinacion_pasantia.html'}}
{{block content}}

<div class="container-fluid" id="curriculosIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Curriculos</h3>
                        </div>
                    </div>
                </center>
                {{=LOAD('curriculos', 'sqlform_grid', ajax=True)}}
            </div>
        </div>
    </div>
</div>
{{end}}
{{include 'curriculos/contenido.html'}}
<script src="{{=URL('static','js/contentHandler/curriculos.js')}}"></script>
