{{extend 'shell.html'}}
{{block content}}

<div class="container-fluid" id="tutores_industrialesIndex">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Tutores Industriales</h3>
                        </div>
                    </div>
                    {{=LOAD('tutores_industriales', 'sqlform_grid', ajax=True)}}
                </center>
            </div>
        </div>
    </div>
</div>
{{end}}
{{include 'tutores_industriales/contenido.html'}}
<script src="{{=URL('static','js/contentHandler/tutores_industriales.js')}}"></script>
